body {
    background-color: #000000;
    color: #FFFFFF;
}

form {
    color: black;
}



div { 
    
    margin: 0px;
    border-radius: 20px;
}

.row {
    padding: 20px;
    background-color: #00338844;
}