body {
    background-color: #000000;
    color: #FFFFFF;
}

form {
    color: black;
}

img {
    width: 100%;
    max-height: 500px;
    margin: 5px;
    object-fit: contain;
}

div { 
    
    margin: 0px;
    /* border-radius: 20px; */
    /* background-color: #00338844; */
}

a {
    color: #8283ac;
}

/* p {
    display: inline;
} */

.container {
    margin-top: 20px;
    padding: 20px;
    /* background-color: #00338844; */
    background-image: linear-gradient(#000e25, #000d24);
    border-radius: 20px;
    border: 1px solid #6e6e6e1e;
}

.row {
    padding: 20px;
    /* background-color: #00338844; */
}

.large {
    font-size: 5rem;
}
.medium {
    font-size: 2.3rem;
}

#albums {
    border-radius: 0px;
}

h1 {
    padding-left: 17px;
}


.glider-slide  {
    text-align: center;
    padding: 0 10px 0 10px;


}


#previous-searches p, #top-artist p {

    margin: 0;
    /* background-color: #00338844; */
    

}
#previous-searches span {
    pointer-events: none;
    margin-left: 10px;
    margin-top: 2%;
    /* background-color: #00338844; */
    /* justify-content: center; */
    /* text-align: center; */
}

#previous-searches {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* padding: 100px; */
}

#previous-searches img {
    height: 30px;
    width: auto;
    pointer-events: none;
}

#previous-searches div , button{
    
    /* flex-direction: column; */
    background-color: #00338844;
    border: 1px solid #00338844; 
    border-radius: 0;
    color: #ffffff;
    margin-left: 10px;
    /* width: 50%; */
}

#previous-searches div {
    display: flex; 
    margin: 3px;
    
}

#top-artist {
    /* background-color: #00338844; */
    /* padding-left: 10px; */
    /* border: 1px solid #00338844;  */
    /* width: ; */
}






